* {
    padding: 0;
    margin: 0;
}
.tomborder {
    border: 1px solid tomato;
}
body {
    font-family:Calibri, sans-serif;
    font-size: 1em;
    position: relative;
    padding-top: 20px;
    background-color: #fff;
    background-image: url(../images/grid-18px-masked.png);
    background-repeat: repeat-x;
    /* background-position: 0 40px; */
}
.units, #tmpl {
    display: flex !important;
    flex-wrap: wrap;
    justify-content: space-around;
}
.text.orange {
    color: #E07B53;
  }
.text.purple {
    color: #564F8A;
}
.text.green {
    color: darkolivegreen;
}
.text.darkred {
    color: darkred;
}
.ui.compact {
    min-width: 140px !important;
}
.ui.compact.segment {
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none; 
   
}

 
#search {
    border: 1px solid purple;    
}

.block_search {
    margin: 30px auto;
}
/* #tmpl {
    display: flex;
    list-style: none;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 30px;
}
#tmpl li {
   

    min-width: 120px;
    height: 100px;
    margin-left: 5px;
    padding: 10px;
    box-shadow: 3px 3px 3px lightgray;
}

 .content a.header {
     font-size: 15px;
     font-weight: 300;
 } */
 .card {
    padding: 5px;
    display: inline-block;
    margin: 10px;
     width: 320px;
     min-height: 0;
     background: #fff;
     padding: 0;
     border: none;
     border-radius: .28571429rem;
     box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
 }
 .card .header {

    font-weight: 700;
    font-size: 1.28571429em;
    margin-top: -.21425em;
    line-height: 1.28571429em;
    display: block;
    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
    color: rgba(24, 23, 23, 0.85);
 }
 .card .meta {
    font-size: 1em;
    color: rgba(0,0,0,.4);
}
.card > .content {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    border: none;
    border-top: 1px solid rgba(34,36,38,.1);
    background: 0 0;
    margin: 0;
    padding: 1em 1em;
    box-shadow: none;
    font-size: 1em;
    border-radius: 0;
}
.b_name {
    width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.ui.image.big.label {
width: 250px;
}
/* .ui.image.label {
    width: 250px;
} */
.span_name {
    max-width: 100%;
}
.clip {
    display: inline;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    /* -ms-text-size-adjust: 80%; */
    font-weight: 400;
    font-size: 1em;
    }
